@font-face {
    font-family: 'Intro';
    src: local('Intro'), url('intro.woff2') format('woff2'), url('intro.woff') format('woff'), url('intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
