body {
	margin: 0;
	padding: 0;
	background-color: black;
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
	animation: glow 1.5s ease-in-out infinite alternate;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("photo.jpg");
	background-size: cover;
	animation: background-animation 70s infinite;
	filter:blur(5px)
}

@keyframes background-animation {
	0% {
		background-image: url("photo.jpg");
	}

	15% {
		background-image: url("photo2.jpg");
	}

	30% {
		background-image: url("photo3.jpg");
	}
	45% {
		background-image: url("photo4.jpg");
	}

	60% {
		background-image: url("photo5.jpg");
	}
	85% {
		background-image: url("photo6.jpg");
	}
	100% {
		background-image: url("photo.jpg");
	}
}

.button {
	border: none;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #ff5555;
	box-shadow: 0px 5px 10px rgba(255,0,0,0.5);
	transition: background-color 0.5s, box-shadow 0.5s;
}

.info {
	position: absolute;
	top: 20px;
	left: 20px;
}

.download {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.download:hover {
	background-color: #ff5555;
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(255,0,0,0.5);
	transition: background-color 0.5s, box-shadow 0.5s;
}
@font-face {
    font-family: 'Intro';
    src: local('Intro'), url('intro.woff2') format('woff2'), url('intro.woff') format('woff'), url('intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.sign {
	position: absolute;
	display: flex;
	justify-content: left;
	align-items: top;
	height: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 2;
	left: 530%;
	top: 50%;
	font-family: "Intro";
	text-transform: uppercase;
	font-size: 1.3em;
	color: #ff0000;
	text-shadow: 0 0 0.3rem #ff0000, 0 0 1.5rem rgb(172, 25, 25),
	-0.2rem 0.1rem 1rem #ad0f0f, 0.2rem 0.1rem 1rem #991515,
	0 -0.5rem 2rem #4d0b0b, 0 0.5rem 3rem #bb1616;
	animation: shine 2s forwards,logoanim 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
	0%,
	22%,
	36%,
	75% {
		color: #ff0000;
		text-shadow: 0 0 0.4rem #ff0000, 0 0 0.5rem rgb(172, 25, 25),
		-0.2rem 0.1rem 1rem #ad0f0f, 0.2rem 0.1rem 1rem #991515,
		0 -0.5rem 2rem #4d0b0b, 0 0.5rem 3rem #bb1616;
	}
	28%,
	33% {
	  color: #6e0f0f;
	  text-shadow: none;
	}
	82%,
	97% {
	  color: #641111;
	  text-shadow: none;
	}
  }
  @keyframes blink2 {
	0%,
	22%,
	36%,
	75% {
		color: #0077ff;
		text-shadow: 0 0 0.6rem #0066ff, 0 0 0.7rem rgb(25, 72, 172),
		  -0.2rem 0.1rem 1rem #0f61ad, 0.2rem 0.1rem 1rem #154e99,
		  0 -0.5rem 2rem #0b2a4d, 0 0.5rem 3rem #1658bb;
	}
	28%,
	33% {
	  color: #0b2a4d;
	  text-shadow: none;
	}
	82%,
	97% {
	  color: #0b2a4d;
	  text-shadow: none;
	}
  }
  
  .flicker {
	animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
	animation: shine 2s forwards, blink 10s 1s infinite;
  }
  .flicker2 {
	animation: shine2 2s forwards, blink2 5s 1s infinite;
  }
  .flicker22 {
	animation: shine2 2s forwards, blink2 0s 1s infinite;
  }

  @keyframes logoanim{
	0%{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: top;
		width: 50%;
		height: 50%;
		transform: translate(-50%, -50%);
		letter-spacing: 2;
		left: 50%;
		top: 50%;
		font-family: "Intro";
		text-transform: uppercase;
		font-size: 4em;
	}
	100%{
		position: absolute;
		display: flex;
		justify-content: left;
		align-items: top;
		height: 50%;
		transform: translate(-50%, -50%);
		letter-spacing: 2;
		left: 86%;
		top: 28%;
		text-transform: uppercase;
		font-size: 1.3em;
	}
  }
  
  @keyframes shine {
	0% {
	  color: #3a0a0a;
	  text-shadow: none;
	}
	100% {
	  color: #ff0000;
	  text-shadow: 0 0 0.6rem #ff0000, 0 0 0.7rem rgb(172, 25, 25),
		-0.2rem 0.1rem 1rem #ad0f0f, 0.2rem 0.1rem 1rem #991515,
		0 -0.5rem 2rem #4d0b0b, 0 0.5rem 3rem #bb1616;
	}
  }

  @keyframes shine2 {
	0% {
	  color: #0a233a;
	  text-shadow: none;
	}
	100% {
	  color: #0077ff;
	  text-shadow: 0 0 0.6rem #0066ff, 0 0 0.7rem rgb(25, 72, 172),
		-0.2rem 0.1rem 1rem #0f61ad, 0.2rem 0.1rem 1rem #154e99,
		0 -0.5rem 2rem #0b2a4d, 0 0.5rem 3rem #1658bb;
	}
  }
  
  @keyframes flicker {
	from {
	  opacity: 1;
	}
  
	4% {
	  opacity: 0.9;
	}
  
	6% {
	  opacity: 0.85;
	}
  
	8% {
	  opacity: 0.95;
	}
  
	10% {
	  opacity: 0.9;
	}
  
	11% {
	  opacity: 0.922;
	}
  
	12% {
	  opacity: 0.9;
	}
  
	14% {
	  opacity: 0.95;
	}
  
	16% {
	  opacity: 0.98;
	}
  
	17% {
	  opacity: 0.9;
	}
  
	19% {
	  opacity: 0.93;
	}
  
	20% {
	  opacity: 0.99;
	}
  
	24% {
	  opacity: 1;
	}
  
	26% {
	  opacity: 0.94;
	}
  
	28% {
	  opacity: 0.98;
	}
  
	37% {
	  opacity: 0.93;
	}
  
	38% {
	  opacity: 0.5;
	}
  
	39% {
	  opacity: 0.96;
	}
  
	42% {
	  opacity: 1;
	}
  
	44% {
	  opacity: 0.97;
	}
  
	46% {
	  opacity: 0.94;
	}
  
	56% {
	  opacity: 0.9;
	}
  
	58% {
	  opacity: 0.9;
	}
  
	60% {
	  opacity: 0.99;
	}
  
	68% {
	  opacity: 1;
	}
  
	70% {
	  opacity: 0.9;
	}
  
	72% {
	  opacity: 0.95;
	}
  
	93% {
	  opacity: 0.93;
	}
  
	95% {
	  opacity: 0.95;
	}
  
	97% {
	  opacity: 0.93;
	}
  
	to {
	  opacity: 1;
	}
}
@keyframes flicker2 {
	from {
	  opacity: 1;
	}
  
	4% {
	  opacity: 0.9;
	}
  
	6% {
	  opacity: 0.85;
	}
  
	8% {
	  opacity: 0.95;
	}
  
	10% {
	  opacity: 0.9;
	}
  
	11% {
	  opacity: 0.922;
	}
  
	12% {
	  opacity: 0.9;
	}
  
	14% {
	  opacity: 0.95;
	}
  
	16% {
	  opacity: 0.98;
	}
  
	17% {
	  opacity: 0.9;
	}
  
	19% {
	  opacity: 0.93;
	}
  
	20% {
	  opacity: 0.99;
	}
  
	24% {
	  opacity: 1;
	}
  
	26% {
	  opacity: 0.94;
	}
  
	28% {
	  opacity: 0.98;
	}
  
	37% {
	  opacity: 0.93;
	}
  
	38% {
	  opacity: 0.5;
	}
  
	39% {
	  opacity: 0.96;
	}
  
	42% {
	  opacity: 1;
	}
  
	44% {
	  opacity: 0.97;
	}
  
	46% {
	  opacity: 0.94;
	}
  
	56% {
	  opacity: 0.9;
	}
  
	58% {
	  opacity: 0.9;
	}
  
	60% {
	  opacity: 0.99;
	}
  
	68% {
	  opacity: 1;
	}
  
	70% {
	  opacity: 0.9;
	}
  
	72% {
	  opacity: 0.95;
	}
  
	93% {
	  opacity: 0.93;
	}
  
	95% {
	  opacity: 0.95;
	}
  
	97% {
	  opacity: 0.93;
	}
  
	to {
	  opacity: 1;
	}
}
@keyframes glow {
	from {
	  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
	}
	to {
	  box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0);
	}
  }
.header {
background-color: rgb(0, 0, 0, 0.5);
background-size: cover;
height: 80px;
position: relative;
}

.header h1 {
color: rgb(0, 0, 0);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.logo{
	color: white;
	left: 40%;
	font-family: "Intro";
}
.text{
	color: white;
	left: 25%;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	justify-content: center;
	font-family: "Intro";
	-webkit-text-stroke: 1px black; /* ширина и цвет обводки */
	text-size-adjust: 1px black; /* для браузеров, не использующих префикс -webkit- */
	animation: alphatext 5s forwards;
}
@keyframes alphatext{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}